/* 
    Document   : etiquetas_print_all
    Created on : 02/03/2013, 23:39:45
    Author     : Alexandro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

